<nav class="navbar navbar-expand-lg navbar-dark bg-success"
     th:fragment="navigationBar">

    <div class="container-fluid px-3 px-md-4">

        <a class="navbar-brand fw-bold fs-4" th:href="@{/home}">🌿 Freshly</a>

        <button class="navbar-toggler border-0" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapselist">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapselist">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">

                <li class="nav-item">
                    <a class="nav-link rounded-2"
                       th:classappend="(${currentUrl}=='/home') ? 'active fw-semibold' : ''"
                       th:href="@{/home}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link rounded-2" href="#">Favorieten</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link rounded-2" href="#">Inloggen</a>
                </li>

                <li class="nav-item ms-lg-2">
                    <a class="btn btn-warning btn-sm fw-semibold px-3 rounded-3" th:href="@{/shopping-cart}">
                        🛒 Winkelmandje
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>